.integration-section{
    background: #E3F0F9;
}

.integration-heading{
    font-family: Extatica;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(90.16deg, #355DED, #6F33F0, #2D56EC, #1AACEA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 10vh;
}

.flex-box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    /* padding-left: 3vw; */
    padding-top: 8vh;
}

.flex-item2{
    margin: 4vh 0vw;
    text-align: left;
    width: 23vw;
}

.integration_div{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.integration_div img{
    padding: 1.7vh 0.6vh 1.5vh 0.6vh;
    gap: 10px;
    border-radius: 2px;
}
.integration_div h3{
    margin: 0px;
    color: var(--600, #475569);
}
.flex-item2 p{
    color: var(--500, #64748B);
    width: 21.5vw;
}

.item-1{
    padding: 2vw 0px 2vw 1vw;
    border-radius: 1.2vw;
    border: 1px solid;
    /* background: var(--50, #F8FAFC); */
    border: 1px solid;
    border-image-slice: linear-gradient(180deg, rgba(252, 129, 40, 0.5) 0%, rgba(252, 180, 40, 0.5) 100%);
}

.item-2{
    padding: 2vw 0px 2vw 1vw;
    border-radius: 1.2vw;
    border: 1px solid;
    background: var(--50, #F8FAFC);
    background: linear-gradient(180deg, rgba(108, 184, 32, 0.5) 0%, rgba(187, 225, 33, 0.5) 100%);
}
.item-3{
    padding: 2vw 0px 2vw 1vw;
    border-radius: 1.2vw;
    border: 1px solid;
    background: var(--50, #F8FAFC);
    background: linear-gradient(180deg, rgba(252, 129, 40, 0.5) 0%, rgba(252, 180, 40, 0.5) 100%);
}

.item-1 img{
    background: #FCB4284D;
}
.item-2 img{
   
}
.item-3 img{
    
}

/* For the connection line image */
.line-container {
    position: absolute;
    /* top: 120px; Adjust to position the line */
    transform: translateY(-9vh);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}