.main-line-1{
    width: 70%;
    background: linear-gradient(90.16deg, #2D56EC, #1AACEA);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: Inter;
    font-size: 2rem;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
}

.main-line-2{
    width: 70%;
    font-family: Extatica;
    font-size: 3rem;
    margin: 1vh auto;
    text-align: center;
}

.main-line-3{
    width: 50%;
    font-family: Inter;
    font-size: 1.2rem;
    margin: 6vh auto;
    text-align: center;
}

.user-div{
    display: flex;
    gap: 1vw;
    justify-content: center;
    flex-wrap: wrap;
}
.box1{
    width: 10vw;
    min-height: 25px;
    min-width: 150px;
    border-radius: 4px;
    text-align: left;
    padding: 1vh 1vw;
    background: var(--100, #F1F5F9);
    border: 1px solid var(--300, #CBD5E1);
}

.box2{
    width: 20vw;
    min-height: 25px;
    min-width: 300px;
    border-radius: 4px;
    text-align: left;
    padding: 1vh 1vw;
    background: var(--100, #F1F5F9);
    border: 1px solid var(--300, #CBD5E1);
}
.button2{
    min-height: 25px;
    padding: 1vh 2vw;
    min-width: 100px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(93.69deg, #2D56EC -14.13%, #1AACEA 120.91%);
    text-align: center;
}

.free-trail{
    display: flex;
    gap: 12px;
    padding: 4vh;
    align-items: center;
    justify-content: center;
}
.circle{
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: var(--400, #94A3B8);
}



.hotjar-container{
    width: 70%;
    margin: 5vh auto 15vh auto;
    padding: 32px 5vw 40px 5vw;
    border-radius: 14px;
    border: 1px solid var(--300, #CBD5E1);
    background: white;
}
.hotjar-text{
    font-family: Inter;
    letter-spacing: 0.24em;
    text-align:center;
}
.hotjar-img-div{
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    overflow: hidden;
    gap: 36px;
}

@media only screen and (max-width:800px){
    .main-line-1{
        width: 90%;
    }
    .main-line-2{
        width: 90%;
    }
    .main-line-3{
        width: 90%;
    }
}
@media only screen and (max-width:950px){
    .box1{
        width: 50%;
    }
    .box2{
        width: 50%;
    }
    .button2{
        width: 48%;
    }
}

@media only screen and (max-width:600px){
    .box1{
        width: 80%;
    }
    .box2{
        width:80%;
    }
    .button2{
        width: 79%;
    }
    .hotjar-container{
        width: 89%;
        padding-left: 5%;
        padding-right: 5%;
    }
}